@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Playfair+Display:wght@500&display=swap');

div{
    font-family: 'Merriweather', serif;
    font-family: 'Playfair Display', serif;
}
h3{
    font-family: 'Merriweather', serif;
    font-family: 'Playfair Display', serif;
}
nav{
    font-family: 'Merriweather', serif;
    font-family: 'Playfair Display', serif;
}
.active{
    font-weight: bold;
}
ngb-rating {
    color: #FFC107;
    font-size: 25px;
}