
<div class="container-fluid  pt-5" style="background-color: black;">
    <div class="row text-shadow" style="background-color: black;">
        <section class="col-md-2">
            <ul class="heading">
                <li>
                    <h6>ABOUT</h6>
                </li>
                <li> <a class="element" href=""> Contact Us </a>  </li>
                <li> <a class="element" href=""> About Us</a>  </li>
                <li> <a class="element" href=""> Careers</a> </li>
                <li> <a class="element" href=""> Flipkart Stories</a> </li>
                <li> <a class="element" href=""> Press</a> </li>

            </ul>

        </section>
        <section class="col-md-2">
            <ul class="heading">
                <li>
                    <h6>HELP</h6>
                </li>
                <li><a class="element" href="">Payments</a> </li>
                <li><a class="element" href="">Shipping</a> </li>
                <li> <a class="element" href=""> Cancellation & Returns</a> </li>
                <li> <a class="element" href="">FAQ</a> </li>
                <li> <a class="element" href="">Report Infringement</a> </li>

            </ul>
        </section>
        <section class="col-md-2">
            <ul class="heading">
                <li>
                    <h6>POLICY</h6>
                </li>
                <li><a class="element" href="">Return Policy</a> </li>
                <li><a class="element" href="">Terms Of Use</a> </li>
                <li> <a class="element" href=""> Security</a> </li>
                <li> <a class="element" href="">Privacy</a> </li>
                <li> <a class="element" href="">Sitemap</a> </li>
                <li> <a class="element" href="">EPR Compliance</a> </li>

            </ul>
        </section>
        <section class="col-md-1">
            <ul class="heading">
                <li>
                    <h6>SOCIAL</h6>
                </li>
                <li><a class="element" href="https://www.facebook.com/flipkart">Facebook</a> </li>
                <li><a class="element" href="https://www.twitter.com/flipkart">Twitter</a> </li>
                <li> <a class="element" href="https://www.youtube.com/flipkart">Youtube</a> </li>

            </ul>
        </section>
        <section class="col-md-2">
            <ul class="heading">
                <li>
                    <h6>Mail Us :</h6>
                </li>
                <li>
                    Flipkart Internet Private Limited,</li>
<li>  Buildings Alyssa, Begonia &</li>
                    

                   <li>Clove Embassy Tech Village, </li> 

                   <li>Outer Ring Road, Devarabeesanahalli Village, </li> 

                   <li>  Bengaluru, 560103,</li>

                   <li>Karnataka, India </li> 
            </ul>
        </section>
        <section class="col-md-2">
            <ul class="heading">
                <li>
                    <h6> Registered Office Address:
                    </h6>
                </li>
                <li>Flipkart Internet Private Limited,</li>

                 <li>    Buildings Alyssa, Begonia & </li>
                    
                 <li>  Clove Embassy Tech Village, </li>
                    
                 <li>  Outer Ring Road, Devarabeesanahalli Village, </li>
                    
                 <li>  Bengaluru, 560103, </li>
                    
                 <li> Karnataka, India </li>
                    
                 <li>  CIN :U51109KA2012PTC066107 </li>
                    
                  <li> Telephone: 1800 208 9898 </li>

            </ul>
        </section>


    </div>
    
</div>