 <div style="background-image: url('https://cdn.helpsystems.com/why-it-departments-benefit-from-upgrading-to-snmpv3.png');background-size: cover;width: 100%;height: 670px;background-repeat: no-repeat; ">
<div class="container">
    <div class="row ">
            <div class="card shadow d-block mx-auto col-sm-7 col-md-7 m-5">
                <div class="card-body">

                
            <form  [formGroup]="formRef" (ngSubmit)="onSubmit()">
                <section class="row col-sm-12">
                    <h3 class=" d-block mx-auto mt-3 mb-4" style="text-align: center;color:green;"><h3 class="fas fa-unlock-alt p-1"></h3>Reset Password</h3> 

                    <div class="col-sm-1">                   
                     </div>
             

                    <div class="row col-sm-7">
                <div class="form-group">
                    <label class="form-label"><b><i class="fas fa-user"></i> Username</b></label>
                    <input type="text" class="form-control"  name="username" placeholder="Enter username"  formControlName="username" >
                    <p *ngIf="formRef.get('username').hasError('required')&&formRef.get('username').touched" style="color: red;">
                        Username is required</p>
                      
                   
                </div>
                
                <div class="form-group">
                    <label  class="form-label"><b>New Password</b></label>
                    <input type="password" class="form-control"  placeholder="Enter password"   formControlName="password" >
                    <p *ngIf="formRef.get('password').hasError('required')&&formRef.get('password').touched" style="color: red;">
                        Password is required</p>
                        <p *ngIf="formRef.get('password').hasError('minlength')&&formRef.get('password').touched" style="color: red;">
                            Min length is 6</p>
                        <p *ngIf="formRef.get('password').hasError('pattern')&&formRef.get('password').touched" style="color: red;">
                             Password should have atleast 1 capital letter and 1 number.</p>
                   
                </div>          
                <div class="form-group">
                    <label for="inputPassword1" class="form-label"><b>Confirm Password</b></label>
                    <input type="password" class="form-control" id="inputPassword2" placeholder="Confirm password"  formControlName="conpassword">
                    
                    <p *ngIf="formRef.get('conpassword').hasError('required')&&formRef.get('conpassword').touched" style="color: red;">
                        Confirm Password</p>
                        <p *ngIf="formRef.get('conpassword').hasError('minlength')&&formRef.get('conpassword').touched" style="color: red;">
                            Min length is 6</p>
                        <p *ngIf="formRef.get('conpassword').hasError('pattern')&&formRef.get('conpassword').touched" style="color: red;">
                             Password should have atleast 1 capital letter and 1 number.</p>
                </div>      
               
              <div class="card-footer border-0 bg-white">
                    <button class="btn btn-warning m-2" (click)="back()"><h6 class="fas fa-backward"></h6><b>Back</b></button>
                    <button type="submit" class="btn btn-success" [disabled]="formRef.invalid" > <h6 class="fas fa-unlock-alt p-1"></h6><b>Reset Password</b> </button>
                  
                </div>
            </div>
          
        </section>
        
            </form>

            <h5 class="text-center text-danger" *ngIf="status">passwords are not matched</h5>
        

        
        </div>
    </div>
        </div>
        <div class="col-md-3 col-sm-2"></div>
    
    </div>
</div>