
<div *ngIf="username!=null">
    <div class="bg-light px-5 text-right">
        <button class="btn btn-success float-end px-4 my-2" (click)="logout()"><h6 class="fas fa-sign-out-alt m-1"></h6>Logout</button>
        <button class="btn btn-warning float-start" (click)="back()"><h5 class="fas fa-backward"></h5>Back</button>
    </div>
    
    
    <div class="container-fluid">
        <h1 class=" text-dark text-center mt-3">Orders of {{username}}</h1>
        <div class="row mt-5 gx-3 d-block mx-auto">
          <div class="col-md-7 col-lg-9 col-9 mx-auto mb-lg-0 mb-5">
        <div class="card p-4 d-block mx-auto m-3" *ngFor="let p of order, let i=index" style="max-width: 1000px;max-height: 100%;">
            <div class="row">
              <div class="col-md-5 col-11 mx-auto bg-light d-flex justify-content-center align-items-center"  >
                <img [src]=p.productImgLink  style="width: 200px; height: 200px;" alt="..."> 
              </div>
              <div class="col-md-7 col-11 mx-auto px-4 mt-2">
                <div class="card-body">
                  <div class="row">
                  <h4 class="card-title">{{p.productname}}</h4> 
                  <p class="card-title">Brand: <b>{{p.brand}}</b></p> 
                  <p class="card-title">Colour : <b>{{p.colour}}</b></p> 
                  <p class="card-title">Rating:<ngb-rating [max]="5" [rate]="p.rating" [readonly]="true"></ngb-rating></p>
                  <p class="card-title">Cost : <b>{{(p.cost)| currency:"INR"}}</b></p> 
                  <p class="card-title">Quantity: <b>{{p.quantity}}</b></p>
                  </div>
    
                 
                
                  <div class="row mt-3">
                      <div class="col-sm-6 col-md-6"></div>
                   
                    <div class="col-sm-6 col-md-6">
                      <td class="text-center"><button class="btn btn-danger"  (click)="delete(i)"><h5 class="fas fa-times-circle"></h5>Delete</button></td>
    
                    </div>
                  
                 </div>
                 </div>
    
                
             
              </div>
            </div>
          </div>
    </div>
    </div>
    </div>
    </div>